<!DOCTYPE html>
<html lang="pt-br">
<body>

  <section class="principal">
    <section class="logo">
        <h1>Receita médica</h1>
    </section>

    <section class="informacoes">
        <h3>Informações do paciente</h3>
        <form class="example-form forma">
          <mat-form-field  class="example-full-width">
            <mat-label  for="nome">Nome:</mat-label>
            <input matInput placeholder="Digite seu nome" id="nome" name="nome">
          </mat-form-field>
          <mat-form-field  class="example-full-width">
            <mat-label  for="idade">Idade:</mat-label>
            <input matInput placeholder="Digite sua idade" id="idade" name="idade">
          </mat-form-field>
          <mat-form-field  class="example-full-width">
            <mat-label for="contato">Contato:</mat-label>
            <input matInput placeholder="Digite seu contato" type="text" id="contato" name="contato">
          </mat-form-field>
          <mat-form-field  class="example-full-width">
            <mat-label for="rg">Rg:</mat-label>
            <input matInput placeholder="Digite seu rg" type="text" id="rg" name="rg">
          </mat-form-field>
        </form>


        <h3>Descrição da receita</h3>
        <mat-form-field  class="example-full-width">
          <mat-label  for="nome">Doença:</mat-label>
          <input matInput placeholder="Insira aqui" id="nome" name="nome">
        </mat-form-field>
        <mat-form-field  class="example-full-width">
          <mat-label  for="nome">Alergia:</mat-label>
          <input matInput placeholder="Digite seu nome" id="nome" name="nome">
        </mat-form-field>
        <mat-form-field  class="example-full-width">
          <mat-label  for="nome">Histórico familiar de Doença:</mat-label>
          <input matInput placeholder="Digite seu nome" id="nome" name="nome">
        </mat-form-field>
    </section>

    <section class="botoes">
        <button>Salvar</button>
        <button (click)="redirectPerfilMedico()">Cancelar</button>
    </section>
</section>
</body>
</html>
