<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>historico do paciente</title>
</head>
<body>
    <section class="parteDeCima">
        <h1>Histórico do paciente {{nomePaciente}} </h1>

    </section>

    <section class="parteDeBaixo">
      <form class="form">
        <p class="title">Registrar</p>
        <p class="message">Cadastre o histórico do paciente de forma fácil e rápida</p>
        <div class="flex"></div>

        <label>
          <input required="" placeholder="" type="text" class="input" [(ngModel)]="doencasAnteriores" name="doencasAnteriores">
          <span>Doenças Anteriores</span>
        </label>

        <label>
          <input required="" placeholder="" type="text" class="input" [(ngModel)]="doencasCronicas" name="doencasCronicas">
          <span>Doenças Crônicas</span>
        </label>

        <label>
          <input required="" placeholder="" type="text" class="input" [(ngModel)]="alergias" name="alergias">
          <span>Alergias</span>
        </label>

        <label>
          <input required="" placeholder="" type="text" class="input" [(ngModel)]="cirurgiasAnteriores" name="cirurgiasAnteriores">
          <span>Cirurgias Anteriores</span>
        </label>

        <label>
          <input required="" placeholder="" type="text" class="input" [(ngModel)]="medicacoesAtuais" name="medicacoesAtuais">
          <span>Medicações Atuais</span>
        </label>

        <label>
          <input required="" placeholder="" type="text" class="input" [(ngModel)]="medicacoesAnteriores" name="medicacoesAnteriores">
          <span>Medicações Anteriores</span>
        </label>

        <label>
          <input required="" placeholder="" type="text" class="input" [(ngModel)]="observacoes" name="observacoes">
          <span>Observações</span>
        </label>

        <button class="submit" (click)="cadastrar()">Cadastrar</button>
        <button class="submit" (click)="cancelar()">Cancelar</button>
      </form>

    </section>


</body>
</html>
