*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(194, 192, 192, 0.664);
  box-sizing: border-box;
  height: auto;
}

.principal{
  background-color: white;
  width: 60%;
  border: 1px solid #00005c;
  border-radius: 5px;
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background-color: #00005c;
  margin-top: 20px;
}

.logo h1{
  color: white;
  font-size: 30px;
}

.informacoes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
}

.informacoes h3:first-child{
  margin-top: 40px;
}

.informacoes h3{
  text-align: center;
  width: 100%;
  border-bottom: 2px solid #00005c;
  color: #00005c;
  margin-top: 100px;
  margin-bottom: 30px;
  font-weight: 600;
}

.informacoes label, input{
  margin-left: 100px;
}

.informacoes label{
  margin-top: 20px;
  font-weight: 600;
}

.informacoes input{
  width: 50%;
  padding: 5px 5px;
  border: 2px solid #00005c;
  border-radius: 5px;
  background-color:darkgray;
  font-weight: 600;
}

.informacoes input:last-child{
  margin-bottom: 100px;
}

.botoes{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
}

.botoes button{
  margin: auto 20px;
  cursor: pointer;
  transition: 0.3s;
}

.botoes button:first-child{
  background-color: #00005c;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.botoes button:last-child{
  background-color: #4f4f5f;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.botoes button:hover{
  border: 2px solid black;
  color: rgb(214, 214, 214);
}
