<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section class="principal">
        <section class="logo">
            <h1>Prontuário</h1>
        </section>

        <section class="informacoes">
            <h3>Informações pessoais</h3>
            <label for="nome" class="nome">Nome:</label>
            <input type="text" id="nome" name="nome">
            <label for="sexo" class="sexo">Sexo:</label>
            <input type="text" id="sexo" name="sexo">
            <label for="rg" class="rg">RG:</label>
            <input type="text" id="rg" name="rg">
            <label for="idade" class="idade">Idade:</label>
            <input type="text" name="idade" id="idade">
            <label for="contato" class="contato">Contato:</label>
            <input type="phone" id="contato" name="contato">

            <h3>Informações médicas</h3>
            <label for="doença" class="doença">Doença:</label>
            <input type="text" id="doença" name="doença">
            <label for="alergia" class="alergia">Alergia:</label>
            <input type="text" id="alergia" name="alergia">
            <label for="historico-familiar" class="historico-familiar">Histórico familiar de doenças:</label>
            <input type="text" id="historico-familiar" name="historico-familiar">
        </section>

        <section class="botoes">
            <button>Salvar</button>
            <button (click)="redirectPerfilMedico()">Cancelar</button>
        </section>
    </section>
</body>
</html>
