body {
  display: flex;
  width: 100%;
  height: 100%;
}

.example-card {
  max-width: 600px;
  height: 100%;
}

.lado1{
  margin-right: 150px;
}
.style-text {
  margin-top: 25px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.example-header-image {
  background-size: cover;
}
.mat-mdc-card-header{
  width: 100%;
}
.mat-mdc-card-header[_ngcontent-ng-c2240790165] {
  justify-content: space-between;
}
.btnsMargin {
  justify-content: center;
  align-items:center;
  margin-top: 0px;
  margin-inline-end: 5px;
}



.lado2 {
  margin-top: 5%;
  margin-left: 150px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  margin-right: 40px;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-1 {
  background: rgb(6, 14, 131);
  background: linear-gradient(0deg, rgba(6, 14, 131, 1) 0%, rgba(12, 25, 180, 1) 100%);
  border: none;
}

.btn-1:hover {
  background: rgb(0, 3, 255);
  background: linear-gradient(0deg, rgb(0, 17, 255) 0%, rgba(2, 126, 251, 1) 100%);
}

/* Estilização do lado 2 */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 23px;
  color: rgb(6, 14, 131);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: rgb(6, 14, 131);
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: rgb(6, 14, 131);
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message,
.signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: rgb(6, 14, 131);
}

.signin a:hover {
  text-decoration: underline rgb(6, 14, 131);
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: rgb(6, 14, 131);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  justify-content: center;
  margin-left: 45px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/* Estilização do card */
.card {
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  background-color: #a19898;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* Estilização das reservas */
.reservas-container {
  display: flex;
  justify-content: center;
}

.reservas-card {
  flex-basis: calc(33.33% - 20px);
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 5px;
  margin-right: 20px;
}

.reservas-data {
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(6, 14, 131);
}

.horas-disponibilidade {
  display: flex;
  flex-wrap: wrap;
}

.reservas-hora {
  flex-basis: calc(50% - 10px);
  margin-right: 10px;
  color: green;
  margin-bottom: 5px;
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 3px;
}
