<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela de início</title>
  <link rel="stylesheet" href="./home.component.scss">
</head>

<body>
  <div class="barraSuperior">
    <div class="informacoes">
      <button class="inf-inicio" (click)="mostrarInicio = true; mostrarBeneficios = false; mostrarDepoimentos = false;"><strong>Início</strong></button>
      <button class="inf-beneficios" (click)="mostrarInicio = false; mostrarBeneficios = true; mostrarDepoimentos = false;"><strong>Benefícios</strong></button>
      <button class="inf-depoimentos" (click)="mostrarInicio = false; mostrarBeneficios = false; mostrarDepoimentos = true;"><strong>Depoimentos</strong></button>
    </div>
    <div class="botoesEntrarCadastrar">
      <button class="bCadastrar"  [matMenuTriggerFor]="menu">Cadastre-se</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="redirectCadastroMedico()">Médico</button>
  <button mat-menu-item (click)="redirectCadastro()">Paciente</button>
</mat-menu>
      <button class="bEntrar" (click)="mostrarDialog = true">Entrar</button>
    </div>

    <!-- Use ngIf para mostrar o mat-card somente quando mostrarDialog for verdadeiro -->
    <div *ngIf="mostrarDialog" class="custom-dialog-overlay">
      <div class="custom-dialog">
        <h1 class="dialog-title">O que veio fazer por aqui?</h1>
        <div class="dialog-content">
          <h1>Você é ...</h1>
          <div class="dialog-buttons">
            <button (click)="redirectLogin()" class="stylebtn">Paciente</button>
            <button (click)="redirectMedici()" class="stylebtn">Médico</button>
          </div>
        </div>
        <br>

        <div class="dialog-actions">
          <button (click)="mostrarDialog = false" class="stylebtn">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="mostrarInicio" class="conteudo-inicio">
    <div class="conteudo-inicio-texto">
      <p class="conteudo-inicio-texto"><strong>Por que utilizar nosso<br>Gerenciamento de pacientes?</strong></p>
    </div>
    <div class="conteudo-inicio-imagens">
      <div class="quadrado">
        <div class="quadrado-imagem">
          <img class="iconeLocal" src="locali75.png" alt="emoji">
        </div>
        <div class="quadrado-texto">
          <p>Fácil acesso das informações do paciente de qualquer lugar!</p>
        </div>
      </div>
      <div class="quadrado">
        <div class="quadrado-imagem">
          <img class="iconePrancheta" src="prancheta75.png" alt="emoji">
        </div>
        <div class="quadrado-texto">
          <p>+9000 tópicos em todas especialidades</p>
        </div>
      </div>
      <div class="quadrado">
        <div class="quadrado-imagem">
          <img class="iconePessoa" src="pessoa75.png" alt="emoji">
        </div>
        <div class="quadrado-texto">
          <p>9 em 10 médicos recomendam</p>
        </div>
      </div>
      <div class="quadrado">
        <div class="quadrado-imagem">
          <img class="iconeCoracao" src="coracao75.png" alt="emoji">
        </div>
        <div class="quadrado-texto">
          <p>+300mil usuários satisfeitos</p>
        </div>
      </div>
    </div>
  </div>

<div *ngIf="mostrarBeneficios" class="conteudo-inicio">
  <!-- Conteúdo da seção Benefícios -->
  <div class="conteudo-inicio-texto">
    <p class="conteudo-inicio-texto"><strong>Alguns dos nossos <br>Benefícios:</strong></p>

  </div>
  <div class="conteudo-inicio-imagens">
    <div class="quadrado">
      <div class="quadrado-imagem">
        <img class="iconeRecepcionista" src="recepcionista75.png" alt="emoji">
      </div>
      <div class="quadrado-texto">
        <p>Agendamento e gerenciamento de consultas!</p>
      </div>
    </div>
    <div class="quadrado">
      <div class="quadrado-imagem">
        <img class="iconeEficiencia" src="eficiencia.png" alt="emoji">
      </div>
      <div class="quadrado-texto">
        <p>Melhoria na eficiência operacional!</p>
      </div>
    </div>
    <div class="quadrado">
      <div class="quadrado-imagem">
        <img class="iconeRemoto" src="remoto.png" alt="emoji">
      </div>
      <div class="quadrado-texto">
        <p>Acesso Remoto e telessaúde!</p>
      </div>
    </div>
    <div class="quadrado">
      <div class="quadrado-imagem">
        <img class="iconeGerenciamento" src="gerenciamento.png" alt="emoji">
      </div>
      <div class="quadrado-texto">
        <p>Otimo gerenciamento de informações!</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mostrarDepoimentos" class="conteudo-inicio">
  <!-- Conteúdo da seção Depoimentos -->
  <div class="conteudo-inicio-texto">
    <p class="conteudo-inicio-texto"><strong>Depoimentos de usuários <br>do Software:</strong></p>

  </div>
  <div class="conteudo-inicio-imagens">
    <div class="quadrado">
      <div class="quadrado-imagem">
        <img class="iconeMedico" src="medico.jpeg" alt="emoji">
      </div>
      <div class="quadrado-texto" style="margin-top: 1px;">
        <p>Revolucionou a forma como conduzimos nossas práticas médicas. </p>
      </div>
    </div>
    <div class="quadrado">
      <div class="quadrado-imagem">
        <img class="iconeDonaMaria" src="donaMaria.jpeg" alt="emoji">
      </div>
      <div class="quadrado-texto" style="margin-top: 1px;">
        <p>As marcações eram um pesadelo, perder tempo esperando na clínica!</p>
      </div>
    </div>
    <div class="quadrado">
      <div class="quadrado-imagem">
        <img class="iconeSeuJoao" src="seuJoao.jpeg" alt="emoji">
      </div>
      <div class="quadrado-texto" style="margin-top: 0;">
        <p>Posso acessar meus registros e resultados de exames sempre que preciso.</p>
      </div>
    </div>
    <div class="quadrado">
      <div class="quadrado-imagem">
        <img class="iconeMenina" src="menina.png" alt="emoji">
      </div>
      <div class="quadrado-texto" style="margin-top: 0px;">
        <p>Agora, não preciso mais repetir meu histórico médico a cada consulta.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
