<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <section class="parte-de-cima">
    <div class="inf-inicial">
      <p class="nome" style="font-size:15px"><strong>Olá, bem vindo ao seu perfil médico</strong></p>
      <label for="nome" class="nome"><strong>{{medico.nomeMedico}} </strong></label>
    </div>
    <div class="botoes">
      <button class="butonStyle" id="bReceita" (click)="redirectEnviarReceita()">Enviar Receita</button>
      <button class="butonStyle" id="bProntuario" (click)="redirectVerMedicacoes()">Ver Medicações</button>
      <button class="butonStyle" id="bConsulta" (click)="mostrarCardGerenciarConsultas = true">Ver Consultas</button>
      <div class="botoesEntrarCadastrar">
        <button class="butonStyle" mat-button [matMenuTriggerFor]="menu" id="bSeusPacientes"
          style="margin-left: 20px;">Seus pacientes</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let paciente of pacientes" (click)="redirectPerfilMeuPaciente(paciente)">
            {{ paciente.nomePaciente }} <!-- Exibe o nome do paciente -->
          </button>
        </mat-menu>
      </div>

    </div>
    <div class="logOut">
      <button class="Btn" (click)="logOut()">

      <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>

      <div class="text">Sair</div>
    </button></div>
    <div class="card modal" *ngIf="mostrarCardGerenciarConsultas">
      <div class="tools modal-content">
        <div style="align-content: center;">
          <button class="butonStyle" (click)="mostrarCardGerenciarConsultas = false"
            style="background-color: crimson; color:black;">

            <i class="fas fa-times"></i> <!-- Ícone de fechar -->
          </button>

        </div>
        <div class="card__content" style="justify-content: center;">
          <div class="div-gerenciaA textFormat">
            <p style="margin-left:32%;">Consultas de Hoje - dia: {{ dateToday | date: 'dd/MM/yyyy' }}</p>
            <ul class="lista">
              <li *ngFor="let consulta of consultas">
                {{ consulta.data | date: 'HH:mm' }} - {{ consulta.nomePaciente }} - motivo: {{consulta.motivoConsulta}} - às {{consulta.dataConsulta}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="parte-de-baixo">
    <div>
      <label for="nome">Nome: {{medico.nomeMedico}}</label>
      <label for="area-de-atuacao">Área de atuação: {{medico.especialidadeMedico}}</label>
      <label for="area-de-atuacao">Contato do Médico: {{medico.contatoMedico}}</label>
    </div>
  </section>
</body>
