<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap"
    />
  </head>
  <body>
    <div class="paracetamol">
      <div class="divsc-dghkfw"></div>
      <div class="divsc-ilibyi">
        <div class="divsc-gltcdu">
          <div class="divsc-ivmvll">
            <div class="divsc-ezwxya"></div>
            <div class="principal">Principal</div>
            <div class="cuidados">Cuidados</div>
          </div>
          <div class="iframe-body">
            <div class="heading-2">
              <div class="classe">Classe</div>
            </div>
            <div class="psimple-element">
              <div class="analgsico">Analgésico.</div>
            </div>
            <div class="heading-21">
              <div class="mecanismo-de-ao">Mecanismo de Ação</div>
            </div>
            <div class="psimple-element1">
              <div class="acredita-se-que-os">
                Acredita-se que os efeitos analgésicos sejam devidos à ativação
                de vias inibitórias serotoninérgicas descendentes no SNC. A
                antipirese ocorre através de ação no centro hipotalâmico que
                regula a temperatura.
              </div>
            </div>
            <div class="heading-22">
              <div class="apresentao">Apresentação</div>
            </div>
            <div class="list">
              <b class="comprimido-simples">Comprimido simples:</b>
              <div class="item"></div>
            </div>
            <div class="mg-tylaflex-funed-container">
              <ul class="mg-tylaflex-funed-paracetamo">
                <li class="mg-tylaflex-funed">
                  500 mg (Tylaflex, FUNED Paracetamol, IQUEGO-Paracetamol,
                  LFM-Paracetamol, Dorfen, Gripalcê Uno, Tyflen, Tylidol);
                </li>
                <li>
                  750 mg (Cimegripe Dor e Febre, Tylaflex, Cyfenol, Paramol,
                  Termol, Tylalgin, Tylidol, Dorfen, Gripalcê Uno®, Tyflen).
                </li>
              </ul>
            </div>
            <div class="list1">
              <b class="suspenso-oral">Suspensão oral:</b>
              <div class="item1">
                <div class="mgml-cimegripe-tylenol-container">
                  <ul class="mg-tylaflex-funed-paracetamo">
                    <li class="mg-tylaflex-funed">
                      32 mg/mL (Cimegripe, Tylenol, Tylemax, Gripalcê Uno, Tyflen);
                    </li>
                    <li class="mg-tylaflex-funed">
                      100 mg/mL (Cimegripe, Cyfenol Baby, Tylenol, Tyflen,
                      Tylemax, Gripalcê Uno);
                    </li>
                    <li>140 mg/mL (Pratium).</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="heading-23">
              <div class="uso-clnico">Uso Clínico</div>
            </div>
            <div class="list2">
              <div class="item2">
                <div class="dor-crnica-febre-container">
                  <ul class="mg-tylaflex-funed-paracetamo">
                    <li class="mg-tylaflex-funed">Dor crônica;</li>
                    <li class="mg-tylaflex-funed">Febre recorrente;</li>
                    <li class="mg-tylaflex-funed">Crise de cefaleia;</li>
                    <li>Lombalgia.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="heading-24">
              <div class="posologia">Posologia</div>
              <b class="posologia-de-acordo"
                >Posologia de acordo com bula da Anvisa ou orientação do fabricante. Para conduta em cada doença, consulte uso clínico.</b
              >
            </div>
            <div class="heading-3">
              <b class="adultos">Adultos</b>
            </div>
            <div class="list3">
              <b class="uso-oral">Uso Oral:</b>
              <div class="item3">
                <div class="dose-usual-325-500-container">
                  <ul class="dose-usual-325-500-mgdose-vo">
                    <li class="mg-tylaflex-funed">
                      Dose usual: 325-500 mg/dose VO de até 3/3 ou 4/4 horas;
                    </li>
                    <li class="mg-tylaflex-funed">
                      Opção: 750 mg/dose VO de até 3-5x/dia;
                    </li>
                    <li class="mg-tylaflex-funed">
                      Solução oral: 35-55 gotas, 3-5x/dia. A dose diária máxima
                      de Paracetamol é de 4.000 mg (300 gotas) administradas em
                      doses fracionadas, não excedendo a dose de 1000 mg/dose
                      (75 gotas) com intervalos de 4-6 horas, no período de 24
                      horas;
                    </li>
                    <li class="mg-tylaflex-funed">
                      Preparação extemporânea: Dissolver todo o conteúdo de um
                      envelope em água quente ou chá quente e administrar VO de
                      4/4 horas;
                    </li>
                    <li class="mg-tylaflex-funed">Dose máxima: 4 g/dia;</li>
                    <li>
                      Os comprimidos simples e efervescentes podem ser partidos.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="div">
              <b class="estas-so-orientaes"
                >Estas são orientações do fabricante presentes em bula aprovada
                pela Anvisa. Outras indicações de uso podem ser determinadas por
                Sociedades e Órgãos</b
              >
              <b class="internacionais-para-mais"
                >Internacionais. Para mais informações, acesse Paracetamol
              </b>
              <b class="em-drogas-peditricas">
                em Drogas Pediátricas, ou a abordagem completa da doença.</b
              >
            </div>
          </div>
        </div>
      </div>
      <div class="header">
        <div class="divsc-dkzdqf">
          <div class="link">
            <div class="entrar">Entrar</div>
            <img
              class="spansc-gkxovf-icon"
              alt=""
              src="./public/spanscgkxovf.svg"
            />
          </div>
        </div>
        <div class="divsc-jfdokl">
          <b class="paracetamol1">Paracetamol</b>
        </div>
      </div>
    </div>
  </body>
</html>
